@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');

@font-face {
    font-family: 'Minecraftia';
    src: url("fonts/minecraftia/Minecraftia-Regular.ttf");
}

@font-face {
    font-family: "Minecraftory";
    src: url("fonts/minercraftory/Minercraftory.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #202020;
}


h1 {
    font-family: 'Minecraftia', "Inter", sans-serif;
    font-size: 4em;
    font-weight: 400;
    color: #f5f5f5;
}

h2 {
    font-family: 'Minecraftory', "Inter", sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: #008132;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #f5f5f5;
    margin-bottom: 10px;
}

button {
    font-size: 18px;
    background-color: #0000009a;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.17s;
}

button:hover {
    background-color: #00521fa9;
    color: #202020;
    transition: 0.17s;
}

button a {
    text-decoration: none;
    color: #f5f5f5;
}

nav {
    padding: 1.4em 2em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #161616ea;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    width: 50vw;
    border-radius: 20px;
    top: 1em;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #f5f5f5;
    transition: 0.17s;
}

nav ul li a:hover {
    color: #008b3f;
    transition: 0.17s;
}


/* 
#logonav {
    height: 50px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
} */


#landing {
    height: 90vh;
    width: 90vw;
    margin: 2em auto;
    border-radius: 20px;
    background-image: url('../assets/images/lush-min.png');
    background-attachment: fixed;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#landing img {
    width: 15em;
    height: auto;
    border-radius: 10px;
}

#landing>img {
    margin-bottom: 2em;
}

#presentation {
    width: 90vw;
    margin: 2em auto;
}

#presentation>div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3em 0;
}

#presentation>div .landingtext {
    max-width: 30vw;
    text-align: justify;
}

#presentation>div>img {
    width: 30vw;
    border-radius: 10px;
}



footer {
    width: 90vw;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #161616;
    align-items: center;
    text-align: center;
    padding: 1em 0;
}